# Make a copy of .env.template file using the command: cp .env.template .env
# Edit your .env file with your own values for each environment variable (BING_SUBSCRIPTION_KEY, BING_SEARCH_URL and OPENAI_API_KEY)
# Don't commit your .env file to git/push to GitHub!
# Don't modify/delete .env.template unless adding extensions to the project which require new variable to be added to the .env file

# put your OPENAI_API_KEY here
OPENAI_API_KEY=
